<div class="container">

  <% if current_user %>

    <% @users.each do |user| %>
      <p><%= user.name %> (<%= user.email %>)</p>
    <% end %>

  <% else %>

    <p>Welcome<p>

  <% end %>

</div>
